* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: lightgrey;
}

table {
  background-color: white;
}

#column1 {
  width: 40%;
}

#column2 {
  width: 60%;
}

table thead {
    background-color: #73BBA3;
    color: #F6FB7A;
    font-weight: bold;
}

table thead h2 {
    padding: 0px 20px;
}

table thead h3 {
  padding: 0px 20px;
}

table tbody tr td {
  padding: 10px;
}

table tbody tr:nth-child(odd) {
    background-color: #B4E380;
}

table tbody tr:nth-child(even) {
    background-color: #F6FB7A;
}

code {
    display: block;
    white-space: pre-wrap;
    font-size: 12px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-family: 'Consolas';
    padding: 0px 10px;
    /* color: #333; */
}

.tag {
  color: #FFA500; /* Bright Orange */
}
.attribute {
  color: #FF69B4; /* Hot Pink */
}
.value {
  color: #00FFFF; /* Cyan */
}
.text {
  color: #00FF00; /* Lime Green */
}

.taglt, .taggt {
  color: #2e5dba;
}